
# UCPeM generated, write above to not be overwritten
/vue3gui
/structSyncAxios
/structSync
/struct
/dependencyInjection
/eventLib
/common
/simpleAuth
/simpleDB
/comTypes
/path
/remoteUIFrontend
/remoteUICommon
/virtualNetworkModem
/virtualNetwork
/registry
